<p id="notice"><%= notice %></p>
<h1 class="text-light display-5">Welcome <%= current_user.username %></h1>
<p><%= link_to "Sign Out", logout_path, remote: false, class: 'text-light', method: :delete %></p>
<h1 class="mt-3 display-4 <%= get_balance_color %>">R$<%= @balance %></h1>
    <% @debts.each do |debt| %>
      <div class="d-flex mb-2 flex-column bg-light-dark border-debt mx-2 rounded-left text-light <%= debt.value > 0 ? 'border-success' : 'border-danger'%>">
        <div class="d-flex justify-content-around debt-item align-items-center">
          <span class="ml-4">R$<%= debt.value %></span>
          <span class="ml-2 truncate"><%= debt.title %></span>
          <span><%= debt.updated_at.strftime("%d/%m/%Y") %></span>
        </div>
        <div class="btn-group md-icons">
          <%= link_to '<i class="fas fa-eye"></i>'.html_safe, debt, class: 'p-0 btn hover-info'%>            
          <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_debt_path(debt), class: 'p-0 btn hover-warning' %>
          <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, debt, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn hover-danger p-0' %>
        </div>
      </div>
    <% end %>
  
<br>

<%= link_to '<i class="fas fa-plus"></i>'.html_safe, new_debt_path, class: 'btn btn-light w-25 my-2 mx-auto hover-success border-0' %>
